.idea
app/*
downloader/*
errors/*
includes/*
js/*
lib/*
media/*
pkginfo/*
shell/*
skin/*
var/*
cron.php
cron.sh
favicon.ico
get.php
index.php
index.php.sample
install.php
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
mage
php.ini.sample
RELEASE_NOTES.txt