.idea
app/code/community/*
app/code/core/*
app/code/local/*
!app/code/local/PCP
app/design/*
!app/design/adminhtml
app/design/adminhtml/*
!app/design/adminhtml/default
app/design/adminhtml/default/*
!app/design/adminhtml/default/default
app/design/adminhtml/default/default/*
!app/design/adminhtml/default/default/layout
app/design/adminhtml/default/default/layout/*
!app/design/adminhtml/default/default/layout/productlink.xml
!app/design/adminhtml/default/default/template
app/design/adminhtml/default/default/template/*
!app/design/adminhtml/default/default/template/productlink
app/etc/*
!app/etc/modules
app/etc/modules/*
!app/etc/modules/PCP_Productlink.xml
app/locale/*
app/.htaccess
app/Mage.php
downloader/*
errors/*
includes/*
js/*
lib/*
media/*
pkginfo/*
shell/*
skin/*
var/*
cron.php
cron.sh
favicon.ico
get.php
index.php
index.php.sample
install.php
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
mage
php.ini.sample
RELEASE_NOTES.txt